language: go
go:
  - "1.13.x"
  - "tip"

env:
  - GO111MODULE=on

before_install:
  - curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh

install:
  - go mod download
  - go get golang.org/x/lint/golint
  - go mod tidy

script:
  - go test ./...
  - go vet -v ./...
  - golint $(go list ./...)
